<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reviro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ReviroTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>466C90491E8C2E7900ABD836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466C905A1E8C2E7A00ABD836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466F17131E8BF1A900DADCCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466F17211E8BF1D400DADCCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
